body {
	background: #121e47;
}

.main {
	display: flex;
	height: 600px;
}

.title {
	text-align: center;
	padding-top: 100px;
	font-family: "Audiowide", cursive;
	font-size: 24px;
	color: #35dd65;
}

.borderbox {
	display: flex;
	margin: auto;
}


.container {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(6, 60px);
	grid-template-areas: 
		"display display display display"
		"ac ce divide multiply"
		"seven eight nine subtract"
		"four five six add"
		"one two three equal"
		"zero zero period equal";
	grid-gap: 10px 10px;
	margin: auto;
	font-family: "Press Start 2P", cursive;
	font-size: 16px;
	color: black;
	padding: 15px;
	border: solid 1px #35dd65;
	border-radius: 10px;
	background-clip: content-box;
}
.display {
	grid-area: display;
	background: #389dea;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px; 
}

.ac {
	grid-area: ac;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ce {
	grid-area: ce;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.divide {
	grid-area: divide;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.multiply {
	grid-area: multiply;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.seven {
	grid-area: seven;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.eight {
	grid-area: eight;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nine {
	grid-area: nine;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.subtract {
	grid-area: subtract;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.four {
	grid-area: four;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.five {
	grid-area: five;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.six {
	grid-area: six;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add {
	grid-area: add;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}

.one {
	grid-area: one;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}

.two {
	grid-area: two;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.three {
	grid-area: three;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.equal {
	grid-area: equal;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.zero {
	grid-area: zero;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}
.period {
	grid-area: period;
	background: #35dd65;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ac:hover, .ce:hover, .divide:hover, .multiply:hover, .seven:hover, .eight:hover, .nine:hover, .subtract:hover, .four:hover, .five:hover, .six:hover, .add:hover, .one:hover, .two:hover, .three:hover, .equal:hover, .zero:hover, .period:hover {
	background: #2ec158;
} 

.footer {
	font-size: 16px;
}